# Feature engineering
## Estancia de investigación Maestría de Ciencia de Datos
## Aide Jazmín González Cruz

### 1. Carga de librerías

In [1]:
import pandas as pd
import numpy as np
import sys
import os
from os.path import dirname
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
sys.path.append(dirname('../src'))
from src.utils import utils

### 2. Carga de datos

In [2]:
df = utils.load_df("../Data/preprocessing_data.pkl")
df

,newid,cx_curp,glucosa,colesterol,trigliceridos,hdl,ldl,presion_arterial,hba1c,plaquetas,...,dm_cie,hta_cie,renal_cie,fecha_laboratorio,dif_date_lab,dif_date_lab_from_ini,occurance_counter,año_dx_dm,año_dx_hta,year_consulta
0,2128MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,NaN,NaN,NaN,NaN,NaN,130/90,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,1,NaN,NaN,2003
1,31723PEVR470901ASKH1QC1,PEVR470901ASKH1QC1,134,NaN,NaN,NaN,NaN,120/90,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,2,NaN,NaN,2004
2,41103ROGG540607PNXOCQD4,ROGG540607PNXOCQD4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,3,NaN,NaN,2004
3,46589PEVR470901ASKH1QC1,PEVR470901ASKH1QC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,4,NaN,NaN,2004
4,47454MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,5,NaN,NaN,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,6410853MAVC341201G0YJFRC1,MAVC341201G0YJFRC1,110|0,NaN,NaN,NaN,NaN,130/75,NaN,NaN,...,1.0,0.0,0.0,NaT,NaN,NaN,4441,2000.0,2010.0,2021
4995,3356716COAG580101F7ALKRC3,COAG580101F7ALKRC3,206|0,NaN,NaN,NaN,NaN,120/80,NaN,NaN,...,1.0,0.0,0.0,NaT,NaN,NaN,4442,1997.0,NaN,2021
4996,3359740PAGJ690411WZ0YDRC1,PAGJ690411WZ0YDRC1,125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,4443,NaN,NaN,2021
4997,8273014MAXA480701EQOUDRC1,MAXA480701EQOUDRC1,124,NaN,NaN,NaN,NaN,110/70,NaN,NaN,...,0.0,0.0,0.0,NaT,NaN,NaN,4444,NaN,NaN,2021
4998,3196790SAJB6406296LNT8PC4,SAJB6406296LNT8PC4,145|0,NaN,NaN,NaN,NaN,110/70,NaN,NaN,...,1.0,0.0,0.0,NaT,100.0,4591.0,2,1995.0,NaN,2021

- Variables categoricas, existencia laboratorios

In [19]:
df['lab_colestero'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_trigliceridos'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_hdl'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_ldl'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_hba1c'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_plaquetas'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_creatinina'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_acido_urico'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_urea'] = np.where(pd.isna(df['colesterol']),0,1)
df['lab_tfg'] = np.where(pd.isna(df['colesterol']),0,1)

- Clasificación lista mexicana

In [46]:
from src.utils import processing as proc

In [ ]:
df = proc.lista_mex_enf(df)

In [ ]:
df.shape