# Data preprocessing 
## Estancia de investigación Maestría de Ciencia de Datos
## Aide Jazmín González Cruz


### 1. Carga de librerías

In [1]:
import pandas as pd
import numpy as np
import sys
import os
from os.path import dirname
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
sys.path.append(dirname('../src'))
from src.utils import utils

### 2. Carga de datos

In [2]:
df = pd.read_csv("../Data/Muestra.csv")
df.head(5)

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,fechas_procesadas,bandera_fechas_procesadas,fuente,in_consulta,fecha_nacimiento,sexo,medicamentos,codigos_cie,diagnosticos,fecha_consulta
0,4593753CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,135,NaN,NaN,NaN,NaN,NaN,120/60,...,NaN,NaN,corhis_somatometria,4593753,1951-12-09,F,FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TA...,NaN,NaN,2014-12-29 09:02:48.167
1,2502589CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,131,NaN,NaN,NaN,NaN,NaN,130/80,...,NaN,NaN,corhis_somatometria,2502589,1951-12-09,F,"COMPLEJO B| METFORMINA, TABLETAS, METFORMINA, ...",NaN,NaN,2010-12-21 10:58:00.640
2,6253338CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,148,NaN,NaN,NaN,NaN,NaN,120/80,...,NaN,NaN,corhis_somatometria,6253338,1951-12-09,F,INSULINA HUMANA ACCION INTERMEDIA NPH SUSPENSI...,NaN,NaN,2017-10-16 10:09:10.830
3,6866604CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130/70,...,NaN,NaN,corhis_somatometria,6866604,1951-12-09,F,FLUOXETINA CAPSULA O TABLETA CADA CAPSULA O TA...,NaN,NaN,2018-11-02 10:22:01.733
4,2870758CAAE51120998X96PC1,CAAE51120998X96PC1,ELIZABET DE 59.9 AÑOS EDAD---ACUDE A EVALCUION...,126,NaN,NaN,NaN,NaN,SEPTIEMBRE DEL 2011,NaN,...,2011-09-01 00:00:00,1.0,NER,2870758,1951-12-09,F,COMPLEJO B| PRAVASTATINA. TABLETAS. CADA TABLE...,E119,Diabetes tipo II,2011-10-08 09:47:14.953

### 3. Información general del DataSet


- Filas y columnas

In [3]:
df.shape

(9315, 32)

In [4]:
df.describe()

,colesterol,hdl,ldl,urea,peso,altura,año_de_diagnostico_hipertensión,bandera_fechas_procesadas,in_consulta
count,2311.000000,117.000000,85.000000,195.000000,4995.000000,4993.000000,161.000000,2359.000000,9.315000e+03
mean,47.712882,39.705812,104.444706,86.038564,68.783568,1.500649,2004.993789,0.401441,2.824811e+06
std,86.591415,11.692045,37.440014,108.769750,20.514289,0.322613,5.175057,0.490294,1.901302e+06
min,0.000000,20.000000,22.800000,14.000000,0.000000,0.000000,1997.000000,0.000000,1.326000e+03
25%,0.000000,35.000000,88.000000,31.500000,60.000000,1.500000,2000.000000,0.000000,1.356846e+06
50%,0.000000,40.000000,110.000000,57.000000,72.000000,1.540000,2006.000000,0.000000,2.378026e+06
75%,0.000000,48.000000,131.000000,89.000000,82.000000,1.640000,2009.000000,1.000000,4.184385e+06
max,351.000000,73.000000,171.000000,545.000000,140.000000,1.840000,2018.000000,1.000000,8.273014e+06

- Columnas y tipo de columnas

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9315 entries, 0 to 9314
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   newid                            9315 non-null   object
 1   cx_curp                          9315 non-null   object
 2   nota_medica                      2359 non-null   object
 3   glucosa                          3926 non-null   object
 4   colesterol                       2311 non-null   float64
 5   trigliceridos                    2373 non-null   object
 6   hdl                              117 non-null    float64
 7   ldl                              85 non-null     float64
 8   fecha                            1924 non-null   object
 9   presion_arterial                 5058 non-null   object
 10  hba1c                            2075 non-null   object
 11  hipertension                     379 non-null    object
 12  plaquetas                        258 non-null    object
 13  creatinina                       527 non-null    object
 14  acido_urico                      250 non-null    object
 15  urea                             195 non-null    float64
 16  peso                             4995 non-null   float64
 17  altura                           4993 non-null   float64
 18  tfg                              189 non-null    object
 19  imc                              495 non-null    object
 20  año_de_diagnostico_diabetes      298 non-null    object
 21  año_de_diagnostico_hipertensión  161 non-null    float64
 22  fechas_procesadas                2359 non-null   object
 23  bandera_fechas_procesadas        2359 non-null   float64
 24  fuente                           9315 non-null   object
 25  in_consulta                      9315 non-null   int64
 26  fecha_nacimiento                 9146 non-null   object
 27  sexo                             9146 non-null   object
 28  medicamentos                     8517 non-null   object
 29  codigos_cie                      6282 non-null   object
 30  diagnosticos                     6282 non-null   object
 31  fecha_consulta                   9315 non-null   object
dtypes: float64(8), int64(1), object(23)
memory usage: 2.3+ MB

In [6]:
df.count()

newid                              9315
cx_curp                            9315
nota_medica                        2359
glucosa                            3926
colesterol                         2311
trigliceridos                      2373
hdl                                 117
ldl                                  85
fecha                              1924
presion_arterial                   5058
hba1c                              2075
hipertension                        379
plaquetas                           258
creatinina                          527
acido_urico                         250
urea                                195
peso                               4995
altura                             4993
tfg                                 189
imc                                 495
año_de_diagnostico_diabetes         298
año_de_diagnostico_hipertensión     161
fechas_procesadas                  2359
bandera_fechas_procesadas          2359
fuente                             9315
in_consulta                        9315
fecha_nacimiento                   9146
sexo                               9146
medicamentos                       8517
codigos_cie                        6282
diagnosticos                       6282
fecha_consulta                     9315
dtype: int64

### 4. Limpieza y transformación de datos

- HBA1C con datos de Presión Arterial

In [7]:
df['presion_arterial'] =  np.where(df.hba1c.str.contains("/") & df['presion_arterial'].isnull(), \
                                               df['hba1c'],\
                                               df['presion_arterial'])

df['hba1c'] =  np.where(df.hba1c.str.contains("/"), \
                                               np.nan, \
                                               df['hba1c'])

- Dividiendo presión en sistólica y diastólica

In [8]:
df['presion_arterial'] = df['presion_arterial'].replace('NULL', np.nan, regex=True)
df_pa = df['presion_arterial'].str.split('/', expand=True)
df_pa.columns = ['sistolica', 'diastolica']
df_pa['sistolica']=df_pa['sistolica'].astype(float)
df_pa['diastolica']=df_pa['diastolica'].astype(float)
df["sistolica"] = df_pa["sistolica"]
df["diastolica"] = df_pa["diastolica"]
df[['presion_arterial','sistolica', 'diastolica']].head(5)

  presion_arterial  sistolica  diastolica
0           120/60      120.0        60.0
1           130/80      130.0        80.0
2           120/80      120.0        80.0
3           130/70      130.0        70.0
4              NaN        NaN         NaN

- Dividiendo glucosa

In [9]:
df["glucosa"]=df["glucosa"].astype(str)
df['glucosa'] = df['glucosa'].apply(lambda x: x if len(x) < 12 else np.nan)
df['glucosa'] = df['glucosa'].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')
df_g = df['glucosa'].str.split('|', expand=True)
df_g.columns = ['glucosa1', 'glucosa2']
df_g['glucosa1']=df_g['glucosa1'].astype(float)
df_g['glucosa2']=df_g['glucosa2'].astype(float)
df["glucosa1"] = df_g["glucosa1"]
df["glucosa2"] = df_g["glucosa2"]

- Limpieza de datos númericos

In [10]:
def clean_data_num(df,cols):
    """
    """
    for col in cols:
        df[col] = df[col].astype(str)
        df[col] = df[col].replace(',', '', regex=True)
        df[col] = df[col].replace(' ', '', regex=True)
        df[col] = df[col].replace('-', '', regex=True)
        df[col] = df[col].replace('NA', np.nan, regex=True)
        df[col] = df[col].str.replace('[A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z]', '')
        if (col == 'año_de_diagnostico_diabetes') or (col == 'año_de_diagnostico_hipertensión'):
            df[col] = df[col].astype(np.float).astype("Int32")
            for i in range(len(df[col])):
                x = df[col][i]
                if pd.isna(x):
                    x=x
                else:
                    if(x > 2022):
                        df[col][i] = np.nan 
            df[col]=df[col].map(lambda x: pd.NA if pd.isna(x) else int(x))
        elif col == 'tfg':
            for i in range(len(df[col])):
                x = df[col][i]
                if(x.count(".")>1):
                    print(df[col][i])
                    print(df[col][i][:5])
                    df[col][i] = df[col][i][:5]
            df[col] = df[col].astype(float)
        elif col == 'imc':
            for i in range(len(df[col])):
                x = df[col][i]
                if(x.count(".")>1):
                    df[col][i] = df[col][i][:5]
            df[col] = df[col].astype(float)
        else:
            df[col] = df[col].astype(float)
            
    return df

In [11]:
df = clean_data_num(df,['colesterol','trigliceridos','hdl','ldl','hba1c','plaquetas','creatinina','acido_urico',
                        'urea','peso','altura','tfg','imc',
                        'año_de_diagnostico_diabetes','año_de_diagnostico_hipertensión'])

72.47.56
72.47

- Fechas de laboratorio

In [12]:
df['fecha_laboratorio'] = df['fechas_procesadas']

 - - Glucosa en datos de fecha

In [13]:
df['fecha_laboratorio']=df['fecha_laboratorio'].astype(str)
b = df[df["fecha_laboratorio"].apply(lambda x: len(x) > 100)][['nota_medica','fecha_laboratorio']]
b

,nota_medica,fecha_laboratorio
1449,DIABETIMSS MATUTINO ACUDE A CONTROL MENSUAL PA...,"31 07 14 GLUCOSA 130 DESCONTROLADA, PACIENTE Q..."
1505,DIABETIMSS MATUTINO ACUDE A CONTROL MENSUAL PA...,"06 01 14 GLUCOSA 96 CONTROLADA, PACIENTE CON B..."

In [14]:
df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.len() > 50, \
                                    "20"+df['fecha_laboratorio'].astype(str).str[6:8]+"-"+
                                         df['fecha_laboratorio'].astype(str).str[3:5]+"-"+
                                         df['fecha_laboratorio'].astype(str).str[0:2],\
                                         df['fecha_laboratorio'])
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace(' DE ', '/', regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace(' DEL ', '/', regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('10 / 12/EDAD, CON DX/1', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('ABRIL/2012----PACIENTE', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('ENERO 2019---------------CONSIENTE', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
df[df["fecha_laboratorio"].apply(lambda x: len(x) > 19)][['fecha_laboratorio','glucosa']]

         fecha_laboratorio glucosa
1511  05 11 14 GLUCOSA 353     nan
2540  04 01 17 GLUCOSA 124     nan
2665  16 12 16 GLUCOSA 148     nan
8691  14 03 16 GLUCOSA 255     nan

In [15]:
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
for i in range(len(df['fecha_laboratorio'])):
    x = df['fecha_laboratorio'][i]
    if ('GLUCOSA' in x) & (len(x) > 19):
        y = "20"+x[6:8]+"-"+x[3:5]+"-"+x[0:2]
        df['fecha_laboratorio'][i] = datetime.strptime(y, '%Y-%m-%d') 
        df['glucosa1'][i] = x[17:len(x)]

In [16]:
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('DE ', '/', regex=True)

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("/"), \
                                    df['fecha_laboratorio'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('ENERO', '01', regex=True).\
                                    replace('FEBRERO', '02', regex=True).\
                                    replace('MARZO', '03', regex=True).\
                                    replace('ABRIL', '04', regex=True).\
                                    replace('MAYO', '05', regex=True).\
                                    replace('JUNIO', '06', regex=True).\
                                    replace('JULIO', '07', regex=True).\
                                    replace('AGOSTO', '08', regex=True).\
                                    replace('SEPTIEMBRE', '09', regex=True).\
                                    replace('OCTUBRE', '10', regex=True).\
                                    replace('NOVIEMBRE', '11', regex=True).\
                                    replace('DICIEMBRE', '12', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
for i in range(len(df['fecha_laboratorio'])):
    x = df['fecha_laboratorio'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 10) and x[6:10].isnumeric() and x[3:5].isnumeric() and x[0:2].isnumeric():
        y = x[6:10]+"-"+x[3:5]+"-"+x[0:2]
        #print(y)
        df['fecha_laboratorio'][i] = datetime.strptime(y, '%Y-%m-%d') 
        
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
df['fecha_laboratorio'] = np.where(df["fecha_laboratorio"].str.contains(" ")&\
   ~df["fecha_laboratorio"].str.contains("00:00:00"),
                                    df['fecha_laboratorio'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("O"), \
                                    df['fecha_laboratorio'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("A"), \
                                    df['fecha_laboratorio'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("E"), \
                                    df['fecha_laboratorio'].replace(' ', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("/"), \
                                    df['fecha_laboratorio'].replace(' ', '/', regex=True).\
                                    replace('./', '/', regex=True).\
                                    replace(',/', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("/"), \
                                    df['fecha_laboratorio'].replace('/ENERO/', '/01/', regex=True).\
                                    replace('/FEBRERO/', '/02/', regex=True).\
                                    replace('/MARZO/', '/03/', regex=True).\
                                    replace('/ABRIL/', '/04/', regex=True).\
                                    replace('/MAYO/', '/05/', regex=True).\
                                    replace('/JUNIO/', '/06/', regex=True).\
                                    replace('/JULIO/', '/07/', regex=True).\
                                    replace('/AGOSTO/', '/08/', regex=True).\
                                    replace('/SEPTIEMBRE/', '/09/', regex=True).\
                                    replace('/OCTUBRE/', '/10/', regex=True).\
                                    replace('/NOVIEMBRE/', '/11/', regex=True).\
                                    replace('/NOV/', '/11/', regex=True).\
                                    replace('/JUN/', '/06/', regex=True).\
                                    replace('/SPTIEMBRE/', '/09/', regex=True).\
                                    replace('/DEIEMBR/', '/12/', regex=True).\
                                    replace('/SEPT/', '/09/', regex=True).\
                                    replace('/SEP/', '/09/', regex=True).\
                                    replace('/FEB/', '/02/', regex=True).\
                                    replace('/ENE/', '/01/', regex=True).\
                                    replace('/DIC/', '/12/', regex=True).\
                                    replace('/OCT/', '/10/', regex=True).\
                                    replace('/AGO/', '/08/', regex=True).\
                                    replace('/JULI/', '/07/', regex=True).\
                                    replace('/JUNI/', '/06/', regex=True).\
                                    replace('/EN/', '/01/', regex=True).\
                                    replace('/AGOST/', '/08/', regex=True).\
                                    replace('/OCTUBR/', '/10/', regex=True).\
                                    replace('/NO/', '/11/', regex=True).\
                                    replace('/MAY/', '/05/', regex=True).\
                                    replace('/SE/', '/09/', regex=True).\
                                    replace('/ABRI/', '/04/', regex=True).\
                                    replace('/EMARZ/', '/03/', regex=True).\
                                    replace('/SPTIEMBR/', '/09/', regex=True).\
                                    replace('/EJULI/', '/07/', regex=True).\
                                    replace('/DI/', '/12/', regex=True).\
                                    replace('/A/', '/08/', regex=True).\
                                    replace('/ENER/', '/01/', regex=True).\
                                    replace('/EENR/', '/01/', regex=True).\
                                    replace('/AGOS/ODE/', '/08/', regex=True).\
                                    replace('/ENERODE/', '/01/', regex=True).\
                                    replace('/FE/', '/02/', regex=True).\
                                    replace('/JU/', '/06/', regex=True).\
                                    replace('/DEJULI/DL/', '/07/', regex=True).\
                                    replace('/MARZ/', '/03/', regex=True).\
                                    replace('/NOV2', '/11/2', regex=True).\
                                    replace('/JUNIO2', '/06/2', regex=True).\
                                    replace('/AG/', '/08/', regex=True).\
                                    replace('/OC/', '/10/', regex=True).\
                                    replace('/FEBRER/', '/02/', regex=True).\
                                    replace('/NER/1Ñ/', '/01/', regex=True).\
                                    replace('/06/DL/', '/06/', regex=True).\
                                    replace('/DICIEMBR/', '/12/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = np.where(df.fecha_laboratorio.str.contains("\."), \
                                    df['fecha_laboratorio'].replace('\.', '/', regex=True).\
                                    replace('//', '/', regex=True).\
                                    replace('//', '/', regex=True),\
                                    df['fecha_laboratorio'])

df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
for i in range(len(df['fecha_laboratorio'])):
    x = df['fecha_laboratorio'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 8) and x[6:8].isnumeric() and x[3:5].isnumeric() and x[0:2].isnumeric():
        y = "20"+x[6:8]+"-"+x[3:5]+"-"+x[0:2]
        #print(y)
        df['fecha_laboratorio'][i] = datetime.strptime(y, '%Y-%m-%d') 
        
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
for i in range(len(df['fecha_laboratorio'])):
    x = df['fecha_laboratorio'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 9) and x[5:9].isnumeric() and x[2:4].isnumeric() and x[0:1].isnumeric():
        #print(x)
        if x[0:1] == '0':
            y = x[5:9]+"-"+x[2:4]+"-01"
        else:
            y = x[5:9]+"-"+x[2:4]+"-0"+x[0:1]
        #print(y)
        df['fecha_laboratorio'][i] = datetime.strptime(y, '%Y-%m-%d') 
        
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
for i in range(len(df['fecha_laboratorio'])):
    x = df['fecha_laboratorio'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 7) and x[5:7].isnumeric() and x[2:4].isnumeric() and x[0:1].isnumeric():
        a = ""
        if(int(x[5:7])>22):
            a = "19"
        else:
            a = "20"
        #print(x)
        if x[0:1] == '0':
            y = a+x[5:7]+"-"+x[2:4]+"-01"
        else:
            y = a+x[5:7]+"-"+x[2:4]+"-0"+x[0:1]
        #print(y)
        df['fecha_laboratorio'][i] = datetime.strptime(y, '%Y-%m-%d') 
        
df['fecha_laboratorio'] = df['fecha_laboratorio'].astype(str)
for i in range(len(df['fecha_laboratorio'])):
    x = df['fecha_laboratorio'][i]
    counter = x.count('/')
    if (counter == 2 and len(x) == 8) and x[4:8].isnumeric() and x[1:3].isnumeric() and x[0:1] == '/':
        #print(x)
        y = x[4:8]+"-"+x[1:3]+"-01"
        #print(y)
        df['fecha_laboratorio'][i] = datetime.strptime(y, '%Y-%m-%d') 
        
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('UMF82', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('20BR-/-/', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('3/0/20156', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('3/08/GLUCMEIA', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('37/00', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('0/0/1/GLUCOS/87', np.nan, regex=True)
df['fecha_laboratorio'] = df['fecha_laboratorio'].replace('1/0/DLE2019', np.nan, regex=True)

df['fecha_laboratorio'] = np.where(df['fecha_laboratorio'].isin(['/0/10', '/0/11', '/0/13', '/0/14', '/0/17', 
'/0/18', '/0/2010', '/0/2014', '/0/2015', '/0/2016', '/0/2017', '/0/2018', '/0/2019', '/0/2021', '/03', '/07', 
'/1/2016', '/10/12', '/12', '/DE', '/DICIEMBR/2014', '/SEP', '/SEPT', '0/0/82010', '0/06', '0/1/20156', '0/12', 
'0/2015', '0/JULIO', '01/0/11', '03/0/18', '1/0/10', '1/0/11', '1/0/13', '1/0/14', '1/0/17', '1/0/20017', 
'1/0/2020188/3', '1/0/21', '1/0/DLE2019', '1/03', '1/05', '1/06', '1/06/', '1/07', '1/08', '1/082010', 
'1/09/2016--', '1/1/10', '1/1/13', '1/1/14', '1/10001', '1/12', '1/12/2015/-', '1/2021', '1/4', '1/DIC', 
'1/E0/11', '1/NOV', '12/180', '12/70', '2/0/09', '2/0/10', '2/0/12', '2/0/14', '2/0/18', '2/0/201/3/08', 
'2/0/2019,SIN', '2/0/2019---', '2/0/21/-', '2/01', '2/03', '2/03/', '2/05', '2/072019', '2/08', '2/1/13', 
'2/12/DRA', '2/2-EP-/', '2/20', '2/2012', '2/60', '2/NOV', '2/OCUTBRE', '2/SEP', '3/0/18', '31-12-2019-', 
'37/22', 'ABRI/21', 'AGIST/2017', 'DEIEMBR/2008', 'FEBRER/21', 'JUNI/2016/-', 'MASRZ/2016', 'NAN', 'SE/2018', 
'SEP', 'nan']), np.nan, df['fecha_laboratorio'])


df['fecha_laboratorio']= pd.to_datetime(df['fecha_laboratorio'])
print(sorted(df['fecha_laboratorio'].unique()))

[numpy.datetime64('NaT'), numpy.datetime64('1987-09-01T00:00:00.000000000'), numpy.datetime64('2004-11-05T00:00:00.000000000'), numpy.datetime64('2007-06-02T00:00:00.000000000'), numpy.datetime64('2008-12-02T00:00:00.000000000'), numpy.datetime64('2009-02-08T00:00:00.000000000'), numpy.datetime64('2009-06-01T00:00:00.000000000'), numpy.datetime64('2009-06-12T00:00:00.000000000'), numpy.datetime64('2009-09-10T00:00:00.000000000'), numpy.datetime64('2009-10-13T00:00:00.000000000'), numpy.datetime64('2009-12-02T00:00:00.000000000'), numpy.datetime64('2009-12-23T00:00:00.000000000'), numpy.datetime64('2010-02-02T00:00:00.000000000'), numpy.datetime64('2010-02-10T00:00:00.000000000'), numpy.datetime64('2010-05-24T00:00:00.000000000'), numpy.datetime64('2010-05-31T00:00:00.000000000'), numpy.datetime64('2010-06-01T00:00:00.000000000'), numpy.datetime64('2010-06-29T00:00:00.000000000'), numpy.datetime64('2010-07-02T00:00:00.000000000'), numpy.datetime64('2010-07-22T00:00:00.000000000'), numpy.datetime64('2010-08-02T00:00:00.000000000'), numpy.datetime64('2010-09-01T00:00:00.000000000'), numpy.datetime64('2010-09-08T00:00:00.000000000'), numpy.datetime64('2010-09-27T00:00:00.000000000'), numpy.datetime64('2010-10-01T00:00:00.000000000'), numpy.datetime64('2010-10-22T00:00:00.000000000'), numpy.datetime64('2010-10-28T00:00:00.000000000'), numpy.datetime64('2010-11-01T00:00:00.000000000'), numpy.datetime64('2010-12-01T00:00:00.000000000'), numpy.datetime64('2010-12-14T00:00:00.000000000'), numpy.datetime64('2010-12-20T00:00:00.000000000'), numpy.datetime64('2011-01-01T00:00:00.000000000'), numpy.datetime64('2011-01-18T00:00:00.000000000'), numpy.datetime64('2011-02-14T00:00:00.000000000'), numpy.datetime64('2011-02-15T00:00:00.000000000'), numpy.datetime64('2011-03-10T00:00:00.000000000'), numpy.datetime64('2011-03-13T00:00:00.000000000'), numpy.datetime64('2011-04-01T00:00:00.000000000'), numpy.datetime64('2011-04-14T00:00:00.000000000'), numpy.datetime64('2011-04-27T00:00:00.000000000'), numpy.datetime64('2011-05-29T00:00:00.000000000'), numpy.datetime64('2011-06-09T00:00:00.000000000'), numpy.datetime64('2011-07-01T00:00:00.000000000'), numpy.datetime64('2011-07-08T00:00:00.000000000'), numpy.datetime64('2011-08-10T00:00:00.000000000'), numpy.datetime64('2011-08-31T00:00:00.000000000'), numpy.datetime64('2011-09-01T00:00:00.000000000'), numpy.datetime64('2011-09-02T00:00:00.000000000'), numpy.datetime64('2011-10-10T00:00:00.000000000'), numpy.datetime64('2011-11-01T00:00:00.000000000'), numpy.datetime64('2011-11-02T00:00:00.000000000'), numpy.datetime64('2011-11-17T00:00:00.000000000'), numpy.datetime64('2011-12-01T00:00:00.000000000'), numpy.datetime64('2011-12-30T00:00:00.000000000'), numpy.datetime64('2012-01-01T00:00:00.000000000'), numpy.datetime64('2012-02-15T00:00:00.000000000'), numpy.datetime64('2012-02-16T00:00:00.000000000'), numpy.datetime64('2012-03-06T00:00:00.000000000'), numpy.datetime64('2012-04-01T00:00:00.000000000'), numpy.datetime64('2012-04-02T00:00:00.000000000'), numpy.datetime64('2012-05-02T00:00:00.000000000'), numpy.datetime64('2012-05-14T00:00:00.000000000'), numpy.datetime64('2012-06-02T00:00:00.000000000'), numpy.datetime64('2012-06-12T00:00:00.000000000'), numpy.datetime64('2012-07-02T00:00:00.000000000'), numpy.datetime64('2012-07-11T00:00:00.000000000'), numpy.datetime64('2012-08-13T00:00:00.000000000'), numpy.datetime64('2012-08-30T00:00:00.000000000'), numpy.datetime64('2012-09-12T00:00:00.000000000'), numpy.datetime64('2012-11-01T00:00:00.000000000'), numpy.datetime64('2012-11-28T00:00:00.000000000'), numpy.datetime64('2012-12-17T00:00:00.000000000'), numpy.datetime64('2012-12-27T00:00:00.000000000'), numpy.datetime64('2013-01-01T00:00:00.000000000'), numpy.datetime64('2013-04-16T00:00:00.000000000'), numpy.datetime64('2013-05-02T00:00:00.000000000'), numpy.datetime64('2013-05-04T00:00:00.000000000'), numpy.datetime64('2013-06-01T00:00:00.000000000'), numpy.datetime64('2013-06-06T00:00:00.000000000'), numpy.datetime64('2013-06-12T00:00:00.000000000'), numpy.datetime64('2013-06-29T00:00:00.000000000'), numpy.datetime64('2013-07-25T00:00:00.000000000'), numpy.datetime64('2013-08-01T00:00:00.000000000'), numpy.datetime64('2013-09-24T00:00:00.000000000'), numpy.datetime64('2013-10-16T00:00:00.000000000'), numpy.datetime64('2013-10-24T00:00:00.000000000'), numpy.datetime64('2013-11-08T00:00:00.000000000'), numpy.datetime64('2013-11-19T00:00:00.000000000'), numpy.datetime64('2013-12-01T00:00:00.000000000'), numpy.datetime64('2013-12-05T00:00:00.000000000'), numpy.datetime64('2013-12-18T00:00:00.000000000'), numpy.datetime64('2013-12-28T00:00:00.000000000'), numpy.datetime64('2014-01-02T00:00:00.000000000'), numpy.datetime64('2014-01-06T00:00:00.000000000'), numpy.datetime64('2014-01-24T00:00:00.000000000'), numpy.datetime64('2014-01-29T00:00:00.000000000'), numpy.datetime64('2014-02-06T00:00:00.000000000'), numpy.datetime64('2014-02-12T00:00:00.000000000'), numpy.datetime64('2014-02-21T00:00:00.000000000'), numpy.datetime64('2014-02-27T00:00:00.000000000'), numpy.datetime64('2014-05-11T00:00:00.000000000'), numpy.datetime64('2014-05-12T00:00:00.000000000'), numpy.datetime64('2014-05-26T00:00:00.000000000'), numpy.datetime64('2014-05-29T00:00:00.000000000'), numpy.datetime64('2014-06-10T00:00:00.000000000'), numpy.datetime64('2014-06-30T00:00:00.000000000'), numpy.datetime64('2014-07-10T00:00:00.000000000'), numpy.datetime64('2014-07-15T00:00:00.000000000'), numpy.datetime64('2014-07-18T00:00:00.000000000'), numpy.datetime64('2014-07-31T00:00:00.000000000'), numpy.datetime64('2014-08-28T00:00:00.000000000'), numpy.datetime64('2014-08-30T00:00:00.000000000'), numpy.datetime64('2014-09-01T00:00:00.000000000'), numpy.datetime64('2014-09-26T00:00:00.000000000'), numpy.datetime64('2014-09-29T00:00:00.000000000'), numpy.datetime64('2014-10-01T00:00:00.000000000'), numpy.datetime64('2014-10-03T00:00:00.000000000'), numpy.datetime64('2014-10-08T00:00:00.000000000'), numpy.datetime64('2014-10-20T00:00:00.000000000'), numpy.datetime64('2014-10-22T00:00:00.000000000'), numpy.datetime64('2014-11-01T00:00:00.000000000'), numpy.datetime64('2014-11-05T00:00:00.000000000'), numpy.datetime64('2014-11-12T00:00:00.000000000'), numpy.datetime64('2014-11-13T00:00:00.000000000'), numpy.datetime64('2014-12-01T00:00:00.000000000'), numpy.datetime64('2014-12-04T00:00:00.000000000'), numpy.datetime64('2014-12-17T00:00:00.000000000'), numpy.datetime64('2015-01-01T00:00:00.000000000'), numpy.datetime64('2015-01-02T00:00:00.000000000'), numpy.datetime64('2015-01-23T00:00:00.000000000'), numpy.datetime64('2015-01-28T00:00:00.000000000'), numpy.datetime64('2015-02-06T00:00:00.000000000'), numpy.datetime64('2015-02-13T00:00:00.000000000'), numpy.datetime64('2015-03-03T00:00:00.000000000'), numpy.datetime64('2015-03-09T00:00:00.000000000'), numpy.datetime64('2015-03-11T00:00:00.000000000'), numpy.datetime64('2015-04-01T00:00:00.000000000'), numpy.datetime64('2015-04-02T00:00:00.000000000'), numpy.datetime64('2015-04-09T00:00:00.000000000'), numpy.datetime64('2015-04-14T00:00:00.000000000'), numpy.datetime64('2015-04-22T00:00:00.000000000'), numpy.datetime64('2015-04-29T00:00:00.000000000'), numpy.datetime64('2015-04-30T00:00:00.000000000'), numpy.datetime64('2015-05-05T00:00:00.000000000'), numpy.datetime64('2015-05-06T00:00:00.000000000'), numpy.datetime64('2015-05-17T00:00:00.000000000'), numpy.datetime64('2015-05-20T00:00:00.000000000'), numpy.datetime64('2015-05-25T00:00:00.000000000'), numpy.datetime64('2015-05-28T00:00:00.000000000'), numpy.datetime64('2015-06-04T00:00:00.000000000'), numpy.datetime64('2015-06-11T00:00:00.000000000'), numpy.datetime64('2015-06-12T00:00:00.000000000'), numpy.datetime64('2015-06-18T00:00:00.000000000'), numpy.datetime64('2015-06-20T00:00:00.000000000'), numpy.datetime64('2015-06-23T00:00:00.000000000'), numpy.datetime64('2015-07-01T00:00:00.000000000'), numpy.datetime64('2015-07-08T00:00:00.000000000'), numpy.datetime64('2015-07-20T00:00:00.000000000'), numpy.datetime64('2015-07-21T00:00:00.000000000'), numpy.datetime64('2015-07-22T00:00:00.000000000'), numpy.datetime64('2015-08-01T00:00:00.000000000'), numpy.datetime64('2015-08-05T00:00:00.000000000'), numpy.datetime64('2015-08-06T00:00:00.000000000'), numpy.datetime64('2015-08-14T00:00:00.000000000'), numpy.datetime64('2015-08-19T00:00:00.000000000'), numpy.datetime64('2015-08-21T00:00:00.000000000'), numpy.datetime64('2015-09-01T00:00:00.000000000'), numpy.datetime64('2015-09-08T00:00:00.000000000'), numpy.datetime64('2015-09-29T00:00:00.000000000'), numpy.datetime64('2015-10-10T00:00:00.000000000'), numpy.datetime64('2015-10-15T00:00:00.000000000'), numpy.datetime64('2015-11-01T00:00:00.000000000'), numpy.datetime64('2015-11-10T00:00:00.000000000'), numpy.datetime64('2015-12-01T00:00:00.000000000'), numpy.datetime64('2015-12-16T00:00:00.000000000'), numpy.datetime64('2015-12-17T00:00:00.000000000'), numpy.datetime64('2015-12-18T00:00:00.000000000'), numpy.datetime64('2016-01-01T00:00:00.000000000'), numpy.datetime64('2016-01-02T00:00:00.000000000'), numpy.datetime64('2016-01-04T00:00:00.000000000'), numpy.datetime64('2016-01-15T00:00:00.000000000'), numpy.datetime64('2016-01-21T00:00:00.000000000'), numpy.datetime64('2016-01-24T00:00:00.000000000'), numpy.datetime64('2016-02-01T00:00:00.000000000'), numpy.datetime64('2016-02-12T00:00:00.000000000'), numpy.datetime64('2016-02-18T00:00:00.000000000'), numpy.datetime64('2016-02-25T00:00:00.000000000'), numpy.datetime64('2016-03-01T00:00:00.000000000'), numpy.datetime64('2016-03-04T00:00:00.000000000'), numpy.datetime64('2016-03-07T00:00:00.000000000'), numpy.datetime64('2016-03-08T00:00:00.000000000'), numpy.datetime64('2016-03-14T00:00:00.000000000'), numpy.datetime64('2016-03-15T00:00:00.000000000'), numpy.datetime64('2016-03-16T00:00:00.000000000'), numpy.datetime64('2016-03-17T00:00:00.000000000'), numpy.datetime64('2016-04-01T00:00:00.000000000'), numpy.datetime64('2016-04-02T00:00:00.000000000'), numpy.datetime64('2016-04-03T00:00:00.000000000'), numpy.datetime64('2016-04-04T00:00:00.000000000'), numpy.datetime64('2016-04-06T00:00:00.000000000'), numpy.datetime64('2016-04-15T00:00:00.000000000'), numpy.datetime64('2016-04-22T00:00:00.000000000'), numpy.datetime64('2016-04-28T00:00:00.000000000'), numpy.datetime64('2016-04-29T00:00:00.000000000'), numpy.datetime64('2016-05-01T00:00:00.000000000'), numpy.datetime64('2016-05-03T00:00:00.000000000'), numpy.datetime64('2016-05-20T00:00:00.000000000'), numpy.datetime64('2016-05-27T00:00:00.000000000'), numpy.datetime64('2016-06-04T00:00:00.000000000'), numpy.datetime64('2016-06-08T00:00:00.000000000'), numpy.datetime64('2016-06-10T00:00:00.000000000'), numpy.datetime64('2016-06-15T00:00:00.000000000'), numpy.datetime64('2016-06-21T00:00:00.000000000'), numpy.datetime64('2016-07-01T00:00:00.000000000'), numpy.datetime64('2016-07-19T00:00:00.000000000'), numpy.datetime64('2016-07-20T00:00:00.000000000'), numpy.datetime64('2016-07-27T00:00:00.000000000'), numpy.datetime64('2016-08-01T00:00:00.000000000'), numpy.datetime64('2016-08-02T00:00:00.000000000'), numpy.datetime64('2016-08-04T00:00:00.000000000'), numpy.datetime64('2016-08-18T00:00:00.000000000'), numpy.datetime64('2016-08-22T00:00:00.000000000'), numpy.datetime64('2016-09-01T00:00:00.000000000'), numpy.datetime64('2016-09-02T00:00:00.000000000'), numpy.datetime64('2016-09-03T00:00:00.000000000'), numpy.datetime64('2016-09-14T00:00:00.000000000'), numpy.datetime64('2016-09-26T00:00:00.000000000'), numpy.datetime64('2016-09-27T00:00:00.000000000'), numpy.datetime64('2016-10-01T00:00:00.000000000'), numpy.datetime64('2016-10-06T00:00:00.000000000'), numpy.datetime64('2016-10-07T00:00:00.000000000'), numpy.datetime64('2016-10-10T00:00:00.000000000'), numpy.datetime64('2016-10-11T00:00:00.000000000'), numpy.datetime64('2016-10-16T00:00:00.000000000'), numpy.datetime64('2016-10-17T00:00:00.000000000'), numpy.datetime64('2016-10-26T00:00:00.000000000'), numpy.datetime64('2016-10-27T00:00:00.000000000'), numpy.datetime64('2016-11-03T00:00:00.000000000'), numpy.datetime64('2016-11-09T00:00:00.000000000'), numpy.datetime64('2016-11-23T00:00:00.000000000'), numpy.datetime64('2016-11-30T00:00:00.000000000'), numpy.datetime64('2016-12-07T00:00:00.000000000'), numpy.datetime64('2016-12-12T00:00:00.000000000'), numpy.datetime64('2016-12-16T00:00:00.000000000'), numpy.datetime64('2017-01-01T00:00:00.000000000'), numpy.datetime64('2017-01-04T00:00:00.000000000'), numpy.datetime64('2017-01-11T00:00:00.000000000'), numpy.datetime64('2017-01-13T00:00:00.000000000'), numpy.datetime64('2017-01-17T00:00:00.000000000'), numpy.datetime64('2017-01-18T00:00:00.000000000'), numpy.datetime64('2017-01-20T00:00:00.000000000'), numpy.datetime64('2017-01-26T00:00:00.000000000'), numpy.datetime64('2017-01-30T00:00:00.000000000'), numpy.datetime64('2017-02-02T00:00:00.000000000'), numpy.datetime64('2017-02-21T00:00:00.000000000'), numpy.datetime64('2017-02-24T00:00:00.000000000'), numpy.datetime64('2017-03-06T00:00:00.000000000'), numpy.datetime64('2017-03-12T00:00:00.000000000'), numpy.datetime64('2017-04-01T00:00:00.000000000'), numpy.datetime64('2017-04-12T00:00:00.000000000'), numpy.datetime64('2017-04-26T00:00:00.000000000'), numpy.datetime64('2017-05-02T00:00:00.000000000'), numpy.datetime64('2017-05-09T00:00:00.000000000'), numpy.datetime64('2017-05-11T00:00:00.000000000'), numpy.datetime64('2017-05-12T00:00:00.000000000'), numpy.datetime64('2017-05-19T00:00:00.000000000'), numpy.datetime64('2017-06-01T00:00:00.000000000'), numpy.datetime64('2017-06-06T00:00:00.000000000'), numpy.datetime64('2017-06-18T00:00:00.000000000'), numpy.datetime64('2017-06-19T00:00:00.000000000'), numpy.datetime64('2017-06-29T00:00:00.000000000'), numpy.datetime64('2017-07-14T00:00:00.000000000'), numpy.datetime64('2017-07-17T00:00:00.000000000'), numpy.datetime64('2017-08-01T00:00:00.000000000'), numpy.datetime64('2017-08-11T00:00:00.000000000'), numpy.datetime64('2017-08-26T00:00:00.000000000'), numpy.datetime64('2017-08-28T00:00:00.000000000'), numpy.datetime64('2017-08-29T00:00:00.000000000'), numpy.datetime64('2017-09-01T00:00:00.000000000'), numpy.datetime64('2017-09-02T00:00:00.000000000'), numpy.datetime64('2017-09-12T00:00:00.000000000'), numpy.datetime64('2017-09-20T00:00:00.000000000'), numpy.datetime64('2017-09-24T00:00:00.000000000'), numpy.datetime64('2017-09-26T00:00:00.000000000'), numpy.datetime64('2017-10-01T00:00:00.000000000'), numpy.datetime64('2017-10-02T00:00:00.000000000'), numpy.datetime64('2017-10-06T00:00:00.000000000'), numpy.datetime64('2017-10-09T00:00:00.000000000'), numpy.datetime64('2017-10-16T00:00:00.000000000'), numpy.datetime64('2017-10-24T00:00:00.000000000'), numpy.datetime64('2017-11-02T00:00:00.000000000'), numpy.datetime64('2017-12-01T00:00:00.000000000'), numpy.datetime64('2017-12-02T00:00:00.000000000'), numpy.datetime64('2017-12-04T00:00:00.000000000'), numpy.datetime64('2017-12-06T00:00:00.000000000'), numpy.datetime64('2017-12-11T00:00:00.000000000'), numpy.datetime64('2017-12-22T00:00:00.000000000'), numpy.datetime64('2017-12-26T00:00:00.000000000'), numpy.datetime64('2018-01-01T00:00:00.000000000'), numpy.datetime64('2018-01-10T00:00:00.000000000'), numpy.datetime64('2018-02-01T00:00:00.000000000'), numpy.datetime64('2018-02-02T00:00:00.000000000'), numpy.datetime64('2018-02-26T00:00:00.000000000'), numpy.datetime64('2018-03-01T00:00:00.000000000'), numpy.datetime64('2018-03-09T00:00:00.000000000'), numpy.datetime64('2018-03-12T00:00:00.000000000'), numpy.datetime64('2018-03-13T00:00:00.000000000'), numpy.datetime64('2018-03-21T00:00:00.000000000'), numpy.datetime64('2018-04-01T00:00:00.000000000'), numpy.datetime64('2018-04-04T00:00:00.000000000'), numpy.datetime64('2018-04-09T00:00:00.000000000'), numpy.datetime64('2018-04-11T00:00:00.000000000'), numpy.datetime64('2018-04-17T00:00:00.000000000'), numpy.datetime64('2018-04-18T00:00:00.000000000'), numpy.datetime64('2018-05-01T00:00:00.000000000'), numpy.datetime64('2018-05-03T00:00:00.000000000'), numpy.datetime64('2018-05-09T00:00:00.000000000'), numpy.datetime64('2018-05-12T00:00:00.000000000'), numpy.datetime64('2018-05-24T00:00:00.000000000'), numpy.datetime64('2018-05-31T00:00:00.000000000'), numpy.datetime64('2018-06-01T00:00:00.000000000'), numpy.datetime64('2018-06-11T00:00:00.000000000'), numpy.datetime64('2018-06-13T00:00:00.000000000'), numpy.datetime64('2018-06-22T00:00:00.000000000'), numpy.datetime64('2018-07-01T00:00:00.000000000'), numpy.datetime64('2018-07-03T00:00:00.000000000'), numpy.datetime64('2018-07-13T00:00:00.000000000'), numpy.datetime64('2018-07-19T00:00:00.000000000'), numpy.datetime64('2018-07-23T00:00:00.000000000'), numpy.datetime64('2018-07-24T00:00:00.000000000'), numpy.datetime64('2018-08-01T00:00:00.000000000'), numpy.datetime64('2018-08-03T00:00:00.000000000'), numpy.datetime64('2018-08-10T00:00:00.000000000'), numpy.datetime64('2018-08-20T00:00:00.000000000'), numpy.datetime64('2018-09-01T00:00:00.000000000'), numpy.datetime64('2018-09-02T00:00:00.000000000'), numpy.datetime64('2018-09-10T00:00:00.000000000'), numpy.datetime64('2018-10-01T00:00:00.000000000'), numpy.datetime64('2018-10-02T00:00:00.000000000'), numpy.datetime64('2018-10-09T00:00:00.000000000'), numpy.datetime64('2018-10-10T00:00:00.000000000'), numpy.datetime64('2018-10-11T00:00:00.000000000'), numpy.datetime64('2018-10-16T00:00:00.000000000'), numpy.datetime64('2018-10-18T00:00:00.000000000'), numpy.datetime64('2018-10-20T00:00:00.000000000'), numpy.datetime64('2018-10-25T00:00:00.000000000'), numpy.datetime64('2018-11-07T00:00:00.000000000'), numpy.datetime64('2018-11-27T00:00:00.000000000'), numpy.datetime64('2018-11-29T00:00:00.000000000'), numpy.datetime64('2018-12-01T00:00:00.000000000'), numpy.datetime64('2018-12-12T00:00:00.000000000'), numpy.datetime64('2018-12-21T00:00:00.000000000'), numpy.datetime64('2019-01-10T00:00:00.000000000'), numpy.datetime64('2019-01-20T00:00:00.000000000'), numpy.datetime64('2019-02-01T00:00:00.000000000'), numpy.datetime64('2019-02-02T00:00:00.000000000'), numpy.datetime64('2019-03-01T00:00:00.000000000'), numpy.datetime64('2019-03-06T00:00:00.000000000'), numpy.datetime64('2019-03-20T00:00:00.000000000'), numpy.datetime64('2019-03-25T00:00:00.000000000'), numpy.datetime64('2019-03-27T00:00:00.000000000'), numpy.datetime64('2019-04-01T00:00:00.000000000'), numpy.datetime64('2019-04-04T00:00:00.000000000'), numpy.datetime64('2019-04-05T00:00:00.000000000'), numpy.datetime64('2019-04-17T00:00:00.000000000'), numpy.datetime64('2019-04-21T00:00:00.000000000'), numpy.datetime64('2019-04-25T00:00:00.000000000'), numpy.datetime64('2019-05-01T00:00:00.000000000'), numpy.datetime64('2019-06-01T00:00:00.000000000'), numpy.datetime64('2019-06-10T00:00:00.000000000'), numpy.datetime64('2019-06-12T00:00:00.000000000'), numpy.datetime64('2019-06-13T00:00:00.000000000'), numpy.datetime64('2019-06-22T00:00:00.000000000'), numpy.datetime64('2019-06-25T00:00:00.000000000'), numpy.datetime64('2019-07-01T00:00:00.000000000'), numpy.datetime64('2019-07-02T00:00:00.000000000'), numpy.datetime64('2019-07-10T00:00:00.000000000'), numpy.datetime64('2019-07-12T00:00:00.000000000'), numpy.datetime64('2019-07-19T00:00:00.000000000'), numpy.datetime64('2019-07-20T00:00:00.000000000'), numpy.datetime64('2019-07-24T00:00:00.000000000'), numpy.datetime64('2019-07-29T00:00:00.000000000'), numpy.datetime64('2019-07-30T00:00:00.000000000'), numpy.datetime64('2019-08-01T00:00:00.000000000'), numpy.datetime64('2019-08-21T00:00:00.000000000'), numpy.datetime64('2019-09-01T00:00:00.000000000'), numpy.datetime64('2019-09-05T00:00:00.000000000'), numpy.datetime64('2019-09-14T00:00:00.000000000'), numpy.datetime64('2019-09-26T00:00:00.000000000'), numpy.datetime64('2019-10-01T00:00:00.000000000'), numpy.datetime64('2019-10-05T00:00:00.000000000'), numpy.datetime64('2019-10-09T00:00:00.000000000'), numpy.datetime64('2019-10-17T00:0

In [17]:
df['codigos_cie'] = df['codigos_cie'].replace(' ', '', regex=True)

### 5. Normalizando columnas

- Nombre de columnas

In [18]:
df = utils.clean_column(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9315 entries, 0 to 9314
Data columns (total 37 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   newid                            9315 non-null   object
 1   cx_curp                          9315 non-null   object
 2   nota_medica                      2359 non-null   object
 3   glucosa                          9313 non-null   object
 4   colesterol                       2311 non-null   float64
 5   trigliceridos                    2373 non-null   float64
 6   hdl                              117 non-null    float64
 7   ldl                              85 non-null     float64
 8   fecha                            1924 non-null   object
 9   presion_arterial                 4533 non-null   object
 10  hba1c                            2072 non-null   float64
 11  hipertension                     379 non-null    object
 12  plaquetas                        258 non-null    float64
 13  creatinina                       527 non-null    float64
 14  acido_urico                      250 non-null    float64
 15  urea                             195 non-null    float64
 16  peso                             4995 non-null   float64
 17  altura                           4993 non-null   float64
 18  tfg                              189 non-null    float64
 19  imc                              495 non-null    float64
 20  año_de_diagnostico_diabetes      297 non-null    object
 21  año_de_diagnostico_hipertension  161 non-null    object
 22  fechas_procesadas                2359 non-null   object
 23  bandera_fechas_procesadas        2359 non-null   float64
 24  fuente                           9315 non-null   object
 25  in_consulta                      9315 non-null   int64
 26  fecha_nacimiento                 9146 non-null   object
 27  sexo                             9146 non-null   object
 28  medicamentos                     8517 non-null   object
 29  codigos_cie                      6282 non-null   object
 30  diagnosticos                     6282 non-null   object
 31  fecha_consulta                   9315 non-null   object
 32  sistolica                        4533 non-null   float64
 33  diastolica                       4533 non-null   float64
 34  glucosa1                         3928 non-null   float64
 35  glucosa2                         1965 non-null   float64
 36  fecha_laboratorio                1594 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(18), int64(1), object(17)
memory usage: 2.6+ MB

- Cambiando correctos tipos de datos

In [19]:
df['sexo'] = df['sexo'].astype('category')

In [20]:
df['fecha_consulta']= pd.to_datetime(df['fecha_consulta'])

In [22]:
df['fecha_nacimiento']= pd.to_datetime(df['fecha_nacimiento'])

- Creando variables

In [23]:
df['edad'] = np.nan
for i in range(len(df['newid'])): 
    if pd.isna(df['fecha_nacimiento'][i]):
        df['edad'][i] = np.nan        
    else: 
        df['edad'][i] = int(df['fecha_consulta'][i].year-\
                            df['fecha_nacimiento'][i].year)

In [24]:
df['hta'] = np.nan
for i in range(len(df['newid'])):
    x = df['hipertension'][i]
    #print(x)
    if pd.isna(x):
        df['hta'][i] = '0'
    elif ('HIPER' in x) or ('HTA' in x) or ('HAS' in x) or ('ARTERIAL' in x):
        df['hta'][i] = '1'
    else:
        df['hta'][i] = '0'
        print(x)
df['hta'] = df['hta'].astype('category')

HOPY

In [27]:
# E10 Diabetes mellitus insulinodependiente
# E11 Diabetes mellitus no insulinodependiente
# E12 Diabetes mellitus asociada con desnutrición
# E13 Otras diabetes mellitus especificadas
# E14 Diabetes mellitus, no especificada

df['dm_cie'] = np.nan
for i in range(len(df['newid'])):
    x = df['codigos_cie'][i]
    #print(x)
    if pd.isna(x):
        df['dm_cie'][i] = '0'
    elif ('E10' in x) or ('E11' in x) or ('E12' in x) or ('E13' in x) or ('E14' in x):
        df['dm_cie'][i] = '1'
    else:
        df['dm_cie'][i] = '0'
        #print(x)

df['dm_cie'] = df['dm_cie'].astype('category')

In [28]:
# I10 Hipertensión esencial (primaria)
# I11 Enfermedad cardíaca hipertensiva
# I12 Enfermedad renal hipertensiva
# I13 Enfermedad cardiorrenal hipertensiva
# I15 Hipertensión secundaria

df['hta_cie'] = np.nan
for i in range(len(df['newid'])):
    x = df['codigos_cie'][i]
    #print(x)
    if pd.isna(x):
        df['hta_cie'][i] = '0'
    elif ('I10' in x) or ('I11' in x) or ('I12' in x) or ('I13' in x) or ('I15' in x):
        df['hta_cie'][i] = '1'
    else:
        df['hta_cie'][i] = '0'
        #print(x)

df['hta_cie'] = df['hta_cie'].astype('category')

In [46]:
# Podría sacarse IMC calculado, etapa hipertensión con base a presión
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9315 entries, 0 to 9314
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   newid                            9315 non-null   object
 1   cx_curp                          9315 non-null   object
 2   nota_medica                      2359 non-null   object
 3   glucosa                          9313 non-null   object
 4   colesterol                       2311 non-null   float64
 5   trigliceridos                    2373 non-null   float64
 6   hdl                              117 non-null    float64
 7   ldl                              85 non-null     float64
 8   fecha                            1924 non-null   object
 9   presion_arterial                 4533 non-null   object
 10  hba1c                            2072 non-null   float64
 11  hipertension                     379 non-null    object
 12  plaquetas                        258 non-null    float64
 13  creatinina                       527 non-null    float64
 14  acido_urico                      250 non-null    float64
 15  urea                             195 non-null    float64
 16  peso                             4995 non-null   float64
 17  altura                           4993 non-null   float64
 18  tfg                              189 non-null    float64
 19  imc                              495 non-null    float64
 20  año_de_diagnostico_diabetes      297 non-null    object
 21  año_de_diagnostico_hipertension  161 non-null    object
 22  fechas_procesadas                2359 non-null   object
 23  bandera_fechas_procesadas        2359 non-null   float64
 24  fuente                           9315 non-null   object
 25  in_consulta                      9315 non-null   int64
 26  fecha_nacimiento                 9146 non-null   datetime64[ns]
 27  sexo                             9146 non-null   category
 28  medicamentos                     8517 non-null   object
 29  codigos_cie                      6282 non-null   object
 30  diagnosticos                     6282 non-null   object
 31  fecha_consulta                   9315 non-null   datetime64[ns]
 32  sistolica                        4533 non-null   float64
 33  diastolica                       4533 non-null   float64
 34  glucosa1                         3928 non-null   float64
 35  glucosa2                         1965 non-null   float64
 36  fecha_laboratorio                1594 non-null   datetime64[ns]
 37  edad                             9146 non-null   float64
 38  hta                              9315 non-null   category
 39  dm_cie                           9315 non-null   category
 40  hta_cie                          9315 non-null   category
dtypes: category(4), datetime64[ns](3), float64(19), int64(1), object(14)
memory usage: 2.7+ MB

### 6. Preparación de datos

**Únicos por laboratorio**

In [54]:
def uniq_lab(df, column_names, column):
    """
    
    """
    # uniq values
    df_column = df[(~pd.isna(df[column])) & (~pd.isna(df['fecha_laboratorio'])) & (df['fuente'] == 'NER')]\
    [column_names]
    #display(df_column)
    df_column = df_column.drop_duplicates()
    df_column['n_lab'] = column
    #print("Valores únicos lab - fecha \n")
    #display(df_column)
    
    # duplicated values same date
    prop_codigo = df_column.groupby(['cx_curp','fecha_laboratorio'], as_index=False)['n_lab']\
    .count()\
    .rename(columns={'n_lab': 'count'})
    prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
    df_rep = prop_codigo.sort_values(by = ['prop'], ascending = False)
    df_rep = df_rep[df_rep['count']>1]
    #print("Valores repetidos \n")
    #display(df_rep)
    
    column_names.append('n_lab')
    
    # delete dupliacted values in same date
    df_merged = df_column.merge(df_rep, how="left", left_on=["cx_curp","fecha_laboratorio"],\
                             right_on=["cx_curp","fecha_laboratorio"], indicator=True)
    df_merged = df_merged.query("_merge == 'left_only'")[column_names]
    #print("Valores únicos lab - fecha revisión \n")
    #display(df_merged)
    
    # comprobando
    prop_codigo = df_merged.groupby(['cx_curp','fecha_laboratorio'], as_index=False)['n_lab']\
    .count()\
    .rename(columns={'n_lab': 'count'})
    prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
    df_rep2 = prop_codigo.sort_values(by = ['prop'], ascending = False)
    gd2 = df_rep2[df_rep2['count']>1]
    #print("Valores repetidos revisión \n")
    #display(gd2)
    
    return df_merged    

def unir_lab(df1,df2):
    """
    """
    # inner join
    #print("Inner join \n")
    df_u = pd.merge(df1,df2, on = ['cx_curp','fecha_laboratorio'])
    #display(df_u)
    #print("Shapes dfs")
    #print(df1.shape)
    #print(df2.shape)
    df_lab = pd.merge(df1,df2, how = "outer", on = ['cx_curp','fecha_laboratorio']).\
                drop_duplicates()
    df_lab = df_lab[df_lab.columns.drop(list(df_lab.filter(regex='n_lab')))]
    #display(df_lab)
    return df_lab

In [51]:
df_lab

                cx_curp glucosa  glucosa1  glucosa2  colesterol
0    CAAE51120998X96PC1     126     126.0       NaN         NaN
1    CAAJ770616UNX3HRC2     nan       NaN       NaN         NaN
2    CAAJ770616UNX3HRC2     nan       NaN       NaN         NaN
3    CAAJ770616UNX3HRC2     200     200.0       NaN       163.0
4    CAAJ770616UNX3HRC2     234     234.0       NaN         NaN
..                  ...     ...       ...       ...         ...
503  COGJ5108018PI47QC1     NaN       NaN       NaN       205.0
504  COGJ5108018PI47QC1     NaN       NaN       NaN       205.0
505  DIRL630201M8ADARC1     NaN       NaN       NaN       176.0
506  GUSJ5712286XUN73A2     NaN       NaN       NaN       166.0
507  ROCA5508101VD78DB4     NaN       NaN       NaN       204.0

[508 rows x 5 columns]

In [55]:
df_glucosa = uniq_lab(df,['cx_curp','glucosa','glucosa1','glucosa2','fecha_laboratorio'],'glucosa')
df_colesterol = uniq_lab(df,['cx_curp','colesterol','fecha_laboratorio'],'colesterol')
df_lab = unir_lab(df_glucosa,df_colesterol)
df_trigliceridos = uniq_lab(df,['cx_curp','trigliceridos','fecha_laboratorio'],'trigliceridos')
df_lab = unir_lab(df_lab,df_trigliceridos)
df_hdl = uniq_lab(df,['cx_curp','hdl','fecha_laboratorio'],'hdl')
df_lab = unir_lab(df_lab,df_hdl)
df_ldl = uniq_lab(df,['cx_curp','ldl','fecha_laboratorio'],'ldl')
df_lab = unir_lab(df_lab,df_ldl)
df_presion = uniq_lab(df,['cx_curp','presion_arterial','sistolica','diastolica','fecha_laboratorio'],'presion_arterial')
df_lab = unir_lab(df_lab,df_presion)
df_hba1c = uniq_lab(df,['cx_curp','hba1c','fecha_laboratorio'],'hba1c')
df_lab = unir_lab(df_lab,df_hba1c)
df_plaquetas = uniq_lab(df,['cx_curp','plaquetas','fecha_laboratorio'],'plaquetas')
df_lab = unir_lab(df_lab,df_plaquetas)
df_creatinina = uniq_lab(df,['cx_curp','creatinina','fecha_laboratorio'],'creatinina')
df_lab = unir_lab(df_lab,df_creatinina)
df_acido_u = uniq_lab(df,['cx_curp','acido_urico','fecha_laboratorio'],'acido_urico')
df_lab = unir_lab(df_lab,df_acido_u)
df_urea = uniq_lab(df,['cx_curp','urea','fecha_laboratorio'],'urea')
df_lab = unir_lab(df_lab,df_urea)
df_peso = uniq_lab(df,['cx_curp','peso','fecha_laboratorio'],'peso')
df_lab = unir_lab(df_lab,df_peso)
df_altura = uniq_lab(df,['cx_curp','altura','fecha_laboratorio'],'altura')
df_lab = unir_lab(df_lab,df_altura)
df_tfg = uniq_lab(df,['cx_curp','tfg','fecha_laboratorio'],'tfg')
df_lab = unir_lab(df_lab,df_tfg)
df_imc = uniq_lab(df,['cx_curp','imc','fecha_laboratorio'],'imc')
df_lab = unir_lab(df_lab,df_imc)

In [56]:
df_lab.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 531 entries, 0 to 530
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cx_curp            531 non-null    object
 1   glucosa            486 non-null    object
 2   glucosa1           212 non-null    float64
 3   glucosa2           0 non-null      float64
 4   fecha_laboratorio  531 non-null    datetime64[ns]
 5   colesterol         106 non-null    float64
 6   trigliceridos      112 non-null    float64
 7   hdl                30 non-null     float64
 8   ldl                25 non-null     float64
 9   presion_arterial   19 non-null     object
 10  sistolica          19 non-null     float64
 11  diastolica         19 non-null     float64
 12  hba1c              27 non-null     float64
 13  plaquetas          74 non-null     float64
 14  creatinina         142 non-null    float64
 15  acido_urico        87 non-null     float64
 16  urea               56 non-null     float64
 17  peso               3 non-null      float64
 18  altura             3 non-null      float64
 19  tfg                65 non-null     float64
 20  imc                111 non-null    float64
dtypes: datetime64[ns](1), float64(17), object(3)
memory usage: 91.3+ KB

In [ ]:
df_lab.to_csv("df_lab.csv")
df_lab.shape

In [ ]:
df_lab[((df_lab['glucosa']=='nan') | pd.isna(df_lab['glucosa'])) & pd.isna(df_lab['glucosa1']) & \
       pd.isna(df_lab['glucosa2']) & pd.isna(df_lab['colesterol']) & pd.isna(df_lab['trigliceridos']) & \
       pd.isna(df_lab['hdl']) & pd.isna(df_lab['ldl']) & pd.isna(df_lab['sistolica']) & \
       pd.isna(df_lab['diastolica']) & pd.isna(df_lab['hba1c']) & pd.isna(df_lab['plaquetas']) & \
       pd.isna(df_lab['creatinina']) & pd.isna(df_lab['acido_urico']) & pd.isna(df_lab['urea']) & \
       pd.isna(df_lab['peso']) & pd.isna(df_lab['altura']) & pd.isna(df_lab['tfg']) & pd.isna(df_lab['imc'])]

indexes = df_lab[((df_lab['glucosa']=='nan') | (pd.isna(df_lab['glucosa']))) & \
                            (pd.isna(df_lab['glucosa1'])) & (pd.isna(df_lab['glucosa2'])) & \
                            (pd.isna(df_lab['colesterol'])) & (pd.isna(df_lab['trigliceridos'])) & \
                            (pd.isna(df_lab['hdl'])) & (pd.isna(df_lab['ldl'])) & (pd.isna(df_lab['sistolica'])) & \
                            (pd.isna(df_lab['diastolica'])) & (pd.isna(df_lab['hba1c'])) & \
                            (pd.isna(df_lab['plaquetas'])) & (pd.isna(df_lab['creatinina'])) & \
                            (pd.isna(df_lab['acido_urico'])) & (pd.isna(df_lab['urea'])) & \
                            (pd.isna(df_lab['peso'])) & (pd.isna(df_lab['altura'])) & (pd.isna(df_lab['tfg'])) & \
                            (pd.isna(df_lab['imc']))].index

df_lab.drop(indexes,inplace=True)
df_lab

**Rows únicos por fuentes:**

In [58]:
df_exp = df[df['fuente'] != 'NER']
#display(df_exp)    
prop_codigo = df_exp.groupby(['cx_curp','fecha_consulta'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_rep = prop_codigo.sort_values(by = ['prop'], ascending = False)
df_rep = df_rep[df_rep['count']>1]
#print("Valores repetidos \n")
#display(df_rep)

Reemplazando **0** por **NaN** en valores de laboratorio

In [59]:
cols = ['glucosa', 'colesterol', 'trigliceridos', 'hdl', 'ldl', 'presion_arterial', 'hba1c', 'plaquetas',
        'creatinina', 'acido_urico', 'urea', 'peso', 'altura', 'tfg', 'imc', 'glucosa1', 'glucosa2',
        'sistolica', 'diastolica']
df_exp[cols] = df_exp[cols].replace({'0':np.nan, 0:np.nan})

Filas únicas

In [64]:
df_exp = df_exp.drop_duplicates()
df_exp.shape

(6955, 41)

In [71]:
prop_codigo = df_exp.groupby(['cx_curp','fecha_consulta'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_rep_exp = prop_codigo.sort_values(by = ['prop'], ascending = False)
df_rep_exp = df_rep_exp[df_rep_exp['count']>1]
#print("Valores repetidos \n")
#display(df_rep_exp)
df_u_exp = pd.merge(df_exp,df_rep_exp, on = ['cx_curp','fecha_consulta'])
#print(df_u_exp.shape)
df_ug = df_u_exp[~pd.isna(df_u_exp['glucosa'])]
#print(df_ug.shape)
prop_codigo = df_ug.groupby(['cx_curp','fecha_consulta'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_rep_val0 = prop_codigo.sort_values(by = ['prop'], ascending = False)
df_rep_val0 = df_rep_val0[df_rep_val0['count']>1]
#display(df_u.loc[:, df_u.columns != 'medicamentos'].sort_values('cx_curp'))
#print("Valores repetidos \n")
#display(df_rep_val0)
prop_codigo = df_u_exp.groupby(['fuente'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
prop_codigo.sort_values(by = ['prop'], ascending = False)

                fuente  count  prop
0  corhis_somatometria   1956   0.5
1   exphis_hc_diabetes   1956   0.5

Collapse información

In [72]:
df_collapse = df_u_exp.groupby(['cx_curp','fecha_consulta']).first().reset_index()
df_collapse["fuente"] = "corhis_somatometria/exphis_hc_diabetes"
prop_codigo = df_collapse.groupby(['fuente'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
prop_codigo.sort_values(by = ['prop'], ascending = False)

                                   fuente  count  prop
0  corhis_somatometria/exphis_hc_diabetes   1956   1.0

In [74]:
prop_codigo = df_exp.groupby(['cx_curp','fecha_consulta'], as_index=False)['newid']\
.count()\
.rename(columns={'newid': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_unic_exp = prop_codigo.sort_values(by = ['prop'], ascending = False)
df_unic_exp = df_unic_exp[df_unic_exp['count']==1]
df_unic_exp

                 cx_curp          fecha_consulta  count      prop
3825  PIPB6010280UNG7PC4 2014-08-01 14:33:21.630      1  0.000144
3820  PEVR470901ASKH1QC1 2021-03-05 10:06:29.907      1  0.000144
3824  PEVR470901ASKH1QC1 2021-07-12 11:19:38.923      1  0.000144
3826  PIPB6010280UNG7PC4 2014-10-29 14:37:00.067      1  0.000144
3823  PEVR470901ASKH1QC1 2021-06-11 10:04:25.827      1  0.000144
...                  ...                     ...    ...       ...
2695  MAVC341201G0YJFRC1 2010-09-14 15:11:38.347      1  0.000144
2696  MAVC341201G0YJFRC1 2010-09-17 14:00:12.753      1  0.000144
2697  MAVC341201G0YJFRC1 2010-10-14 14:51:26.767      1  0.000144
2698  MAVC341201G0YJFRC1 2010-11-18 14:23:04.917      1  0.000144
0     AAAZ581217189U5PC3 2014-09-09 08:51:37.470      1  0.000144

[3043 rows x 4 columns]

In [75]:
df_u1_exp = pd.merge(df_exp,df_unic_exp, on = ['cx_curp','fecha_consulta'])
df_u1_exp

,newid,cx_curp,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,presion_arterial,...,diastolica,glucosa1,glucosa2,fecha_laboratorio,edad,hta,dm_cie,hta_cie,count,prop
0,4593753CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,135,NaN,NaN,NaN,NaN,NaN,120/60,...,60.0,135.0,NaN,NaT,63.0,0.0,0.0,0.0,1,0.000144
1,2502589CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,131,NaN,NaN,NaN,NaN,NaN,130/80,...,80.0,131.0,NaN,NaT,59.0,0.0,0.0,0.0,1,0.000144
2,6253338CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,148,NaN,NaN,NaN,NaN,NaN,120/80,...,80.0,148.0,NaN,NaT,66.0,0.0,0.0,0.0,1,0.000144
3,6866604CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,nan,NaN,NaN,NaN,NaN,NaN,130/70,...,70.0,NaN,NaN,NaT,67.0,0.0,0.0,0.0,1,0.000144
4,3447833CAAE51120998X96PC1,CAAE51120998X96PC1,NaN,135,NaN,NaN,NaN,NaN,NaN,120/80,...,80.0,135.0,NaN,NaT,61.0,0.0,0.0,0.0,1,0.000144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038,2859151MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,nan,NaN,NaN,NaN,NaN,NaN,110/80,...,80.0,NaN,NaN,NaT,32.0,0.0,0.0,0.0,1,0.000144
3039,1114985MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,nan,NaN,NaN,NaN,NaN,NaN,120/85,...,85.0,NaN,NaN,NaT,25.0,0.0,0.0,0.0,1,0.000144
3040,1187284MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,nan,NaN,NaN,NaN,NaN,NaN,120/85,...,85.0,NaN,NaN,NaT,25.0,0.0,0.0,0.0,1,0.000144
3041,3102755MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,nan,NaN,NaN,NaN,NaN,NaN,115/76,...,76.0,NaN,NaN,NaT,33.0,0.0,0.0,0.0,1,0.000144
3042,1013521MAJJ870410UVK09PC1,MAJJ870410UVK09PC1,NaN,nan,NaN,NaN,NaN,NaN,NaN,100/70,...,70.0,NaN,NaN,NaT,24.0,0.0,0.0,0.0,1,0.000144

In [76]:
df_collapse

,cx_curp,fecha_consulta,newid,nota_medica,glucosa,colesterol,trigliceridos,hdl,ldl,fecha,...,diastolica,glucosa1,glucosa2,fecha_laboratorio,edad,hta,dm_cie,hta_cie,count,prop
0,AAAZ581217189U5PC3,2014-11-25 11:39:53.817,3365279AAAZ581217189U5PC3,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,80.0,391.0,NaN,NaT,56.0,0.0,1.0,0.0,2,0.000288
1,AAAZ581217189U5PC3,2015-01-07 11:01:51.827,3406597AAAZ581217189U5PC3,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,80.0,NaN,NaN,NaT,57.0,0.0,1.0,0.0,2,0.000288
2,AAAZ581217189U5PC3,2015-02-09 11:43:48.210,3440661AAAZ581217189U5PC3,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,80.0,NaN,NaN,NaT,57.0,0.0,1.0,0.0,2,0.000288
3,AAAZ581217189U5PC3,2015-03-11 07:32:57.030,3474866AAAZ581217189U5PC3,NaN,nan,194.0,100.0,NaN,NaN,NaN,...,70.0,127.0,NaN,NaT,57.0,0.0,1.0,0.0,2,0.000288
4,AAAZ581217189U5PC3,2015-04-10 08:50:42.933,3504288AAAZ581217189U5PC3,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,70.0,127.0,NaN,NaT,57.0,0.0,1.0,0.0,2,0.000288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1951,ZEPL5503219FZQ6QC2,2020-12-01 10:12:55.770,6137511ZEPL5503219FZQ6QC2,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,80.0,120.0,NaN,NaT,65.0,0.0,1.0,0.0,2,0.000288
1952,ZEPL5503219FZQ6QC2,2021-01-06 08:09:33.563,6173665ZEPL5503219FZQ6QC2,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,70.0,120.0,NaN,NaT,66.0,0.0,1.0,0.0,2,0.000288
1953,ZEPL5503219FZQ6QC2,2021-03-01 14:15:32.570,6233394ZEPL5503219FZQ6QC2,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,80.0,120.0,NaN,NaT,66.0,0.0,1.0,0.0,2,0.000288
1954,ZEPL5503219FZQ6QC2,2021-04-14 12:30:05.237,6278826ZEPL5503219FZQ6QC2,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,70.0,92.0,NaN,NaT,66.0,0.0,1.0,0.0,2,0.000288
1955,ZEPL5503219FZQ6QC2,2021-07-02 13:00:57.500,6382480ZEPL5503219FZQ6QC2,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,70.0,105.0,NaN,NaT,66.0,0.0,1.0,1.0,2,0.000288

In [77]:
df_exp_his_u = pd.concat([df_u1_exp, df_collapse])
df_exp_his_u.shape

(4999, 43)

**Unión de datos de laboratorio con consulta**

In [100]:
df_lab.shape

(312, 21)

In [99]:
prop_codigo = df_lab.groupby(['cx_curp'], as_index=False)['fecha_laboratorio']\
.count()\
.rename(columns={'fecha_laboratorio': 'count'})
prop_codigo['prop'] = prop_codigo['count']/np.sum(prop_codigo['count'])
df_unic_exp = prop_codigo.sort_values(by = ['prop'], ascending = False)
df_unic_exp

               cx_curp  count      prop
30  OIMS600706LWUN8PC2     21  0.067308
3   AOCC511229UR4RIRC3     20  0.064103
6   CAAJ770616UNX3HRC2     19  0.060897
45  ZAGM6412151ICF4PC4     16  0.051282
36  PIRE6806019N4I6PC1     16  0.051282
0   AAAZ581217189U5PC3     15  0.048077
18  GOML440127J80Z9PC2     15  0.048077
39  SAJB6406296LNT8PC4     13  0.041667
40  SAPL460201_WS10QC2     11  0.035256
9   COGJ5108018PI47QC1     11  0.035256
24  MAVC341201G0YJFRC1     11  0.035256
13  DIRL630201M8ADARC1     10  0.032051
1   AADV5603014KS44QC1      9  0.028846
21  JIDR510316QA5Z4PC3      9  0.028846
19  GUSJ5712286XUN73A2      9  0.028846
41  SOLG360601I3NUBIA1      8  0.025641
46  ZEPL5503219FZQ6QC2      8  0.025641
7   CALT491222GG7DGRC3      8  0.025641
35  PIPB6010280UNG7PC4      7  0.022436
33  PEGO194405B3QH4QC1      7  0.022436
23  MACL740410NK1YGRC2      6  0.019231
26  MOAA5610143OU79PC2      6  0.019231
4   BOLM631201LV35XPC1      5  0.016026
37  ROCA5508101VD78DB4      5  0.016026
17  GOGC330501FATDSCA2      5  0.016026
14  EAGG5405015QC44QC1      5  0.016026
38  RORC5211012YV34CA1      4  0.012821
27  MOBJ380101BWUPXQC1      4  0.012821
43  VEVF4904172GTC8QC1      4  0.012821
16  GASG61090173W69PC1      4  0.012821
10  COPI690401V91QCRC2      3  0.009615
25  MAXA480701EQOUDRC1      2  0.006410
44  ZACF481001A5LI4QC1      2  0.006410
2   AEDJ750301XGAEGRC1      1  0.003205
42  VABL610430GWELKRC4      1  0.003205
15  GAMP640301UJL5SEE1      1  0.003205
5   CAAE51120998X96PC1      1  0.003205
20  HEXE490230BS8EFVA2      1  0.003205
8   COAG580101F7ALKRC3      1  0.003205
11  COVR310301TY2UYQC1      1  0.003205
22  LOAI360801BLJDERC1      1  0.003205
34  PEVR470901ASKH1QC1      1  0.003205
12  CUHJ691220ZX7YDRC2      1  0.003205
31  OOCG680408JBU4ERC2      1  0.003205
29  MOVE400201D7TZERC1      1  0.003205
28  MOSH731006R68EZPC2      1  0.003205
32  PAGJ690411WZ0YDRC1      1  0.003205

In [101]:
df_lab[df_lab["cx_curp"]=="CAAJ770616UNX3HRC2"].sort_values("fecha_laboratorio").to_csv("dat_lab.csv")

In [102]:
df_exp_his_u[df_exp_his_u["cx_curp"]=="CAAJ770616UNX3HRC2"].sort_values("fecha_consulta").to_csv("dat_exp.csv")